.maxinc input[type="text"], .maxinc input[type="password"], .maxinc input[type="email"], .maxinc textarea, .maxinc select {
    outline-color: rgba(255, 89, 94, 0.4);
    padding-top: 15px;
}

.borrardespues{
    padding-top: 15vh;
}

.titinc h2{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    color: #797979;
    text-align: center;
    padding: 0px 2% 20px 2%;
    text-transform: uppercase;
}

.maxinc {
    margin-bottom: 10px;
}

.maxinc input{
    width: 100% !important;
    border-radius: 5px;
    border: solid 1px rgba(176, 176, 176, 0.3);
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    color: #797979;
}

.sendinc {
    margin-bottom: 15px;
}

.sendinc input{
    width: 100% !important;
    border-radius: 5px;
    background-color: #ff595e;
    border: none;
    color: #fff;
    padding: 14px 10px;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 400;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding: 23px 10px 13px 45px;
}
.left-inner-addon i {
    position: absolute;
    padding: 14px 14px;
    pointer-events: none;
    color: rgba(176, 176, 176, 0.35);
    font-size: 19px;
}